extends layout

block content
  h1(align="center") #{title}
  p(align="center") Welcome to #{title}
  #form
  form(action='/', method='POST', target="_self")
    | start:
    br
    input(type='text', name='start', placeholder='2017-12-31')
    br
    | end:
    br
    input(type='text', name='end', placeholder='2019')
    br
    | minmag:
    br
    input(type='text', name='minmag', placeholder='0.5')
    br
    | maxmag:
    br
    input(type='text', name='maxmag', placeholder='8.7')
    br
    | limit (max 100):
    br
    input(type='text', name='limit', placeholder='10')
    br
    br
    input(type='submit', value='search')
  
  #map
  script(type='text/javascript').  
    var quake_lst = !{quakes};
    //- testing
    console.log(quake_lst);
  script(src='/javascripts/map.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhdCF-Dzv6dN3BOttGumZ3-pJ5g5Ayt54&callback=initMap')
  