doctype html
html
  head
    title= Quake
    link(rel='stylesheet', href='/stylesheets/style.css')
  style.
    head {margin-top: 5;}
    #wrapper{
    width: 100%;
    border: 2px solid black;
    overflow: hidden; /* add this to contain floated children */
    }
    
    #stats{
      width: 18%; 
      height:600px;
      margin:5px; 
      float:left;
      overflow-y:scroll 
      margin:10px
    }
    #map{
      width: 78%;
      height: 600px;
      padding-top: 2px
      float:left;
      margin:10px
      overflow: hidden;
    }
  body
    block content